openapi: 3.2.0
info:
  version: '1.1'
  title: Docs Accounts API
servers:
- url: https://app.replyr.ai/api/
security:
- APIKeyHeader: []
tags:
- name: Accounts
paths:
  /accounts/me:
    get:
      tags:
      - Accounts
      description: Get business account details.
      operationId: getAccountInformation
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  page_id:
                    type: integer
                    format: int64
                  name:
                    type: string
                  active:
                    type: boolean
                    description: If false the admins of the bot can't access the dashboard.
                  created:
                    type: integer
                    format: int64
                    description: Timestamp representing the date the bot was created
                  total_users:
                    type: integer
                    format: int64
                    description: The total number of contacts.
  /accounts/admins:
    get:
      tags:
      - Accounts
      description: Get all admins from a business account.
      operationId: getAccountAdmins
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Admin'
  /accounts/teams:
    get:
      tags:
      - Accounts
      description: Get all teams from a bot account.
      operationId: getAccountTeams
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
  /accounts/tags:
    get:
      tags:
      - Accounts
      description: Get all tags from a business account.
      operationId: getAccountTags
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
    post:
      tags:
      - Accounts
      description: Create a new tag
      operationId: createTag
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    description: The the new tag ID.
                example:
                  id: 1995
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
  /accounts/tags/{tag_id}:
    get:
      tags:
      - Accounts
      description: Get tag by id
      operationId: getTagById
      parameters:
      - name: tag_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
    delete:
      tags:
      - Accounts
      description: Delete a tag
      operationId: deleteTag
      parameters:
      - name: tag_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                example:
                  success: true
  /accounts/tags/name/{tag_name}:
    get:
      tags:
      - Accounts
      description: Get a tag by name
      operationId: getTagByName
      parameters:
      - name: tag_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
  /accounts/flows:
    get:
      tags:
      - Accounts
      description: Get all flows from a business account.
      operationId: getAccountFlows
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int64
                    name:
                      type: string
  /accounts/custom_fields:
    get:
      tags:
      - Accounts
      description: Get all custom fields from a business account.
      operationId: getAccountCustomFields
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int64
                    name:
                      type: string
                    type:
                      type: integer
                      description: 0 - Text, 1 - Number, 2- Date (Unix timestamp), 3 - Date & Time (Unix timestamp), 4 - Boolean(0 or 1)
                    description:
                      type: string
    post:
      tags:
      - Accounts
      description: Create a custom field
      operationId: createCustomField
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    description: The ID of the new custom field
                  name:
                    type: string
                example:
                  id: 1995
                  name: lead_score
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  required: true
                  type: string
                type:
                  type: integer
                  required: true
                  enum:
                  - 0
                  - 1
                  - 2
                  - 3
                  - 4
                  description: 0 - text | 1 - number | 2 - date | 3 - datetime | 4 - true/false
                isBotField:
                  type: boolean
                  default: false
                  required: false
                value:
                  type: string
                  required: false
                  description: The value of the bot field. It is ignored for the contact custom field.
                description:
                  type: string
                  required: false
              example:
                name: lead_score
                type: 1
        required: true
  /accounts/custom_fields/{custom_field_id}:
    get:
      tags:
      - Accounts
      description: Get custom field by id
      operationId: getCustomFieldById
      parameters:
      - name: custom_field_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                  name:
                    type: string
                  type:
                    type: integer
                    description: 0 - Text, 1 - Number, 2- Date (Unix timestamp), 3 - Date & Time (Unix timestamp), 4 - Boolean(0 or 1)
                  description:
                    type: string
  /accounts/custom_fields/name/{custom_field_name}:
    get:
      tags:
      - Accounts
      description: Get custom field by name
      operationId: getCustomFieldByName
      parameters:
      - name: custom_field_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                  name:
                    type: string
                  type:
                    type: integer
                    description: 0 - Text, 1 - Number, 2- Date (Unix timestamp), 3 - Date & Time (Unix timestamp), 4 - Boolean(0 or 1)
                  description:
                    type: string
  /accounts/bot_fields/{bot_field_id}:
    get:
      tags:
      - Accounts
      description: Get bot field value by id
      operationId: getBFieldValue
      parameters:
      - name: bot_field_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: integer
                  name:
                    type: string
                  value:
                    type: string
                example:
                  id: 2334
                  name: age
                  type: 1
                  value: 25
    post:
      tags:
      - Accounts
      description: Set a bot field value
      operationId: setBField
      parameters:
      - name: bot_field_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                example:
                  success: true
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                value:
                  type: string
              required:
              - value
    delete:
      tags:
      - Accounts
      description: Unset the value of a bot field
      operationId: removeBField
      parameters:
      - name: bot_field_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                example:
                  success: true
  /accounts/integrations:
    get:
      tags:
      - Accounts
      description: Get all integrations from a business account.
      operationId: getAccountIntegrations
      responses:
        '200':
          description: List of available integrations and their status
          example:
            openai:
              active: true
            gemini:
              active: false
            claude:
              active: true
            xai:
              active: false
            deepseek:
              active: true
            google_sheets:
              active: false
            email:
              active: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  openai:
                    type: object
                    properties:
                      active:
                        type: boolean
                  gemini:
                    type: object
                    properties:
                      active:
                        type: boolean
                  claude:
                    type: object
                    properties:
                      active:
                        type: boolean
                  xai:
                    type: object
                    properties:
                      active:
                        type: boolean
                  deepseek:
                    type: object
                    properties:
                      active:
                        type: boolean
                  google_sheets:
                    type: object
                    properties:
                      active:
                        type: boolean
                  email:
                    type: object
                    properties:
                      active:
                        type: boolean
  /accounts/templates/{template_id}/generateSingleUseLink:
    post:
      tags:
      - Accounts
      description: Generate single-use template link
      operationId: generateTemplateLink
      parameters:
      - name: template_id
        in: path
        required: true
        description: You can get template ID from the template link
        schema:
          type: integer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  link:
                    type: string
                example:
                  link: https://...
components:
  schemas:
    Team:
      type: object
      properties:
        id:
          type: number
          format: int64
        name:
          type: string
      xml:
        name: Team
    Admin:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        full_name:
          type: string
        profile_pic:
          type: string
        available:
          type: boolean
          description: Whether the admin has the availability status set on/off.
      xml:
        name: Tag
    Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Tag
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-ACCESS-TOKEN
